/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background:#fdf9f9;
    color: #000000;
    
}

.partedearriba{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 20%;
    background-color: antiquewhite;
}
.links{
    display: flex;
    
    margin-right: 10%;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.links a{
    color: #000000;
    text-decoration: none;
    
    font-family: Courier New;
}
.logo{
    width: 200px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 40px;
    font-size: 12px;
    font-family: Courier New;
}
.presentacion{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}
.acercade{
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 30%;
    
}
.acercade h1{
    font-size: 50px;
    color: rgb(1, 1, 78);
}
#content {
    opacity: 0;
    transition: opacity 3s ease;
}
.contenedor_imagen{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagen{
    width:80%; /* Ajusta el tamaño según tus necesidades */
    height: 80%; /* Mantén las proporciones cuadradas */
    border-radius: 50%;
    object-fit: cover;
}
@media (max-width: 800px) {
    .acercade{
        width: 60%;
        margin: 10px;
    }
    .contenedor_imagen{
        width: 60%;
    }
    .imagen{
        width: 80%;
        height: 80%;
    }
  }